# build output
dist/
# generated types
.astro/
# vercel output
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# python/
python/db/tipitaka_pali.db
python/md/tipitaka/


# other
.venv/
.vscode/

# public
public/tipitaka/chr/*

